* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: #eeeeee;
    background-color: #000000;
}

#workspaces button {
    color: #eeeeee;
    padding-left: 0.1em;
}

#workspaces .visible { }

/* little hack to hide empty workspaces */
#workspaces button.empty {
	color: #eeeeee;
	opacity: 0.05;
}

#custom-cpu_temp,
#memory,
/* #network, */
/* #wireplumber, */
#custom-uptime{
    background-color: @background-alt;
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.3em;
}

#wireplumber{
	padding-left: 0.3em;


}
#network {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
